In [1]:
2 + 4

6

## Example

In [23]:
n=-22;
while(n>=-45):
    print(n);
    n=n-1;

-22
-23
-24
-25
-26
-27
-28
-29
-30
-31
-32
-33
-34
-35
-36
-37
-38
-39
-40
-41
-42
-43
-44
-45

In [19]:
n=1
while(n<=17):
    print(n);
    n=n+1;

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [27]:
n=10;
while(n>=1):
    print(n);
    n=n-1;

10
9
8
7
6
5
4
3
2
1

## sum of even numbers between 1 to 100

In [1]:
x=int(input("enter lower limit"));
y=int(input("enter upper limit"));
sum=0;
while(x!=y):
    if(x%2==0):
        sum=sum+x;
    x=x+1;
print(sum);

enter lower limit1
enter upper limit100
2450

In [2]:
x=int(input("enter a number"));
while(x!=0):
    r=x%10;
    print(r);
    x = x // 10;

enter a number1234
4
3
2
1

## display the digits of number

In [4]:
x=int(input("enter a number"));
sum=0;
while(x!=0):
    r=x%10;
    if(r%2==0):
     sum=sum+r;
    x= x//10;
    print(sum);

enter a number243
0
4
6

## sum of even numbers

In [1]:
n=int(input("enter a number:"));
sum=0;
r=0;
while(n!=0):
    r=n%10;
    if(r%2==0):
        sum=sum+r;
    n=n//10;
print(sum);

enter a number:1234
6

## respective name to digit

In [3]:
n=int(input("enter a number:"));
while(n!=0):
    r=n%10;
    if(r==0):
        print("zero");
    elif(r==1):
        print("one");
    elif(r==2):
        print("two")
    elif(r==3):
        print("three");
    elif(r==4):
        print("four");
    elif(r==5):
        print("five");
    elif(r==6):
        print("six");
    elif(r==7):
        print("seven");
    elif(r==8):
        print("eight");
    elif(r==9):
        print("nine");
    n=n//10;

enter a number:123
three
two
one